<h4>Title Case Pipe Demo Works!</h4>
<p>Custom Smart Case: {{ userInput | titleCaseSmart }}</p>


<div class="accordion">

  <div class="accordion-item">
    <input type="checkbox" id="menu1">
    <label class="accordion-header" for="menu1">
      Dashboard
      <span class="icon">+</span>
    </label>
    <div class="accordion-content">
      <a href="#">Overview</a>
      <a href="#">Reports</a>
      <a href="#">Analytics</a>
    </div>
  </div>

  <div class="accordion-item">
    <input type="checkbox" id="menu2">
    <label class="accordion-header" for="menu2">
      Projects
      <span class="icon">+</span>
    </label>
    <div class="accordion-content">
      <a href="#">All Projects</a>
      <a href="#">Create Project</a>
      <a href="#">Archived</a>
    </div>
  </div>

  <div class="accordion-item">
    <input type="checkbox" id="menu3">
    <label class="accordion-header" for="menu3">
      Settings
      <span class="icon">+</span>
    </label>
    <div class="accordion-content">
      <a href="#">Profile</a>
      <a href="#">Security</a>
      <a href="#">Logout</a>
    </div>
  </div>

</div>
