<h4>Title Case Pipe Demo Works!</h4>
<p>Custom Smart Case: {{ userInput | titleCaseSmart }}</p>

 





<cb-accordion [isAllowMultiOpen]=true>

  <ng-template cbAccordion header="Dashboard" >
    
     <a href="#">All Projects</a>
      <a href="#">Create Project</a>
      <a href="#">Archived</a>
  </ng-template>

  
  <ng-template  cbAccordion header="Projects" [isOpen]=true >
   I am second

   <input />
  </ng-template>

    <ng-template cbAccordion  header="Secttings"  [isOpen]=true>
   I am third
  </ng-template>

    <ng-template cbAccordion  header="Always Open" [isAlwaysOpen] =true [isOpen]=true>
   I am Always Open
  </ng-template>


  


</cb-accordion>