 <!-- COMPLETED -->
    <div class="column completed green_light">
      <div class="column-header green">Completed <span>02</span></div>

      <div class="task-card">
       <div class="task_txt"> <b>Follow up with seniors forincremented salary details</b></div>
       <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="status done">STATUS: DONE</div>
      </div>

      <div class="task-card">
       <div class="task_txt">   <b>Newly Open Bank Accountof Newly Joined Resource</b></div>
         <div class="sub_task_txt">Completed Document Process </div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="status done">STATUS: DONE</div>
      </div>
    </div>