<div class="login-container">
  <div class="login-card row">
  
    
<div class="credential_details  col-md-6">
  <div class="logo-wrapper logo ">
</div> 
    <form>
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <!-- Remember me -->
      <div class="options">
        <label>
          <input type="checkbox" />
          Remember me
        </label>
        <a href="#">Forgot password?</a>
      </div>

      <!-- Login Button -->
      <button type="submit" class="login-btn">Login</button>
    </form>
    <p class="footer-text">
      Don’t have an account?
      <a href="#">Sign up</a>
    </p>
</div>
<div class="login_img col-md-6">
 
</div>
    <!-- Footer -->
    
  </div>
</div>