<div class="login-container">
  <div class="login-card row">

    <div class="credential_details col-md-6 ">
      <div class="logo-wrapper logo"></div>
      <div class="app_heading">Task Assignment & Management</div>
      <div class="app_sub_heading">Task Assignment & Management involves assigning, tracking, and managing tasks to boost productivity and achieve goals efficiently.</div>

      <form (ngSubmit)="login()" #loginForm="ngForm">

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email ID</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            [(ngModel)]="email"
          />
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
            [(ngModel)]="password"
          />
        </div>

        <!-- Remember me -->
        <div class="options">
          <label>
            <input type="checkbox" />
            Remember me
          </label>
         <span class="sign_up_txt"> <a href="#">Forgot password?</a></span>
        </div>

        <!-- Login Button -->
        <button
          type="submit"
          class="login-btn"
          [disabled]="loginForm.invalid"
        >
         <b> Login</b>
        </button>

        <!-- Error -->
        <!-- <p *ngIf="errorMessage" style="color:red">
          {{ errorMessage }}
        </p> -->
      </form>

      <div class="footer-text">
        Don’t have an account?
       <div class="sign_up_txt"> <a href="#" >Sign up</a></div>
      </div>
    </div>
    <div class="login_img col-md-6  d-none d-md-block"></div>
  </div>
</div>
