/* Page background */
:host {
  font-family: 'Montserrat', sans-serif;
}


.login-container {
   background: #00B3DC;
  min-height: 100vh;
  background: linear-gradient(135deg, #fff,);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

/* Card */
.login-card {
  background: #ffffff;
  padding: 32px;
  width: 100%;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 24px;
}

/* Form */
.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #374151;
}

.form-group input {
     width: 100%;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 12px;
}


.form-group input:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color: #6366f1;
}

.options a:hover {
  text-decoration: underline;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #FF9900;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #fcc46f;
}

.credential_details{
  width: 45%;
}

@media screen and (max-width: 375px) {
.credential_details {
    width:45%;
}
  
.login_img{
   
    display: none;
   
}

}

  



.logo-wrapper {
  text-align: center;
  margin-bottom: 24px;
  
}

.logo {
  background-image: url('/Check_Box_logo.png ' );
   background-repeat: no-repeat;
  width: 400px;
  height: 60px;
  display: inline-block;
}
.login_img{
    width: 45%;
    background-image: url(/login-img.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 95px 0 0 57px;
}
  
.app_heading {
    font-family: montserrat;
    color: #00B3DC;
    font-size: 38px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 15px;}

.sign_up_txt { color: #00B3DC;  font-weight: bold; text-decoration: none; list-style-type: none;}

.app_sub_heading{
    color: #646464;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 20px;}




/* Footer */
.footer-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.footer-text a {
  color: #4f46e5;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
