/* Bucket */
.bucket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bucket-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.bucket-actions select,
.bucket-actions input {
      padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.20);
    border: none;
}

.add-btn {
     background: orange;
    color: #fff;
    border: none;
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.toggle{box-shadow: 0 0px 8px rgba(0, 0, 0, 0.20);padding: 7px 14px; border-radius: 6px; font-size: 12px; font-weight: bold;}

/* Toggle */
.switch {
  position: relative;
  width: 40px;
  height: 20px;
  
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #ccc;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background: #fff;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background: #00a8e8;
}

