<!-- MY BUCKET -->
  <div class="bucket-header">
    <h4>My Bucket</h4>

    <div class="bucket-actions">
      <div class="toggle">
        <div>Individual
          <span style="margin-top: 10px;">
        <label class="switch" style="margin: -2px 10px 0 10px;">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        </span>
         <span>Group</span>
        </div>
       
      </div>

      <div class="dropdown-container">
  <!-- <input
    type="text"
    placeholder="Search project..."
    class="search-input"
    onkeyup="filterOptions()"
  /> -->

  <select id="#" size="1">
    <option>Projects</option>
    <option>Employee OnBoarding</option>
    <option>Employee Training</option>
    <option>HR Management</option>
    <option>Payroll System</option>
  </select>
</div>
      <input type="text" placeholder="Search your Task">

      <button class="add-btn">Add New Task +</button>
      
    </div>
  </div>
