<!-- WIP -->
    <div class="column wip yellow_light">
      <div class="column-header yellow">WIP <span>02</span></div>

      <div class="task-card">
       <div class="task_txt">   <b>Send Appointment Letter</b></div>
        <div class="tag">Individual</div>
        <div class="sub_task_txt">As a process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
         <div class="task_txt"> <b>Perform Background Verification of Newly Joined Resource</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>
    </div>