  <!-- Page Title -->

      <h4 >Overview</h4>
      <section class="mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class="text-muted">New this week</small>
          <div class="h4 mt-1">₹ <span id="mainBalance">4123</span></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class="text-muted">Critical Alerts</small>
          <div class="h4 mt-1">5948</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class="text-muted">Appointments</small>
          <div class="h4 mt-1">5625</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Tabs / Carousel / Gallery -->
