<h4>Send Email</h4>
<h6>Please click below button for Open your Popup Form!</h6>
<button (click)="openPopup()">Popup</button>


<cb-popup  header="Contact form" [isHeader]="isHeader"   *ngIf="showPopup">


 <form (ngSubmit)="submitForm()">
      <label>
        Name:
        
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </label>

      <label>
        Email:
        <input type="email" [(ngModel)]="formData.email" name="email" required>
      </label>

      <div class="actions">
        <button type="submit">Submit</button>
        <button type="button" (click)="closePopup()">Cancel</button>
      </div>
    </form> 


</cb-popup>


