


<div class="container">

  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <span class="p_breadcrum"><a  href="#">Home</a> </span>
    <span class="p_breadcrum">|</span> 
    <span class="p_breadcrum"> Team Dashboard</span>
  </div>

  <h4>Team Dashboard</h4>

  <!-- TOP CARDS -->
  <div class="top-cards">

    <!-- Profile -->
    <div class="card profile-card row g-0">
      <div class="col-lg-4"><img src="/Sachin Pics.png" alt="profile"></div>
      <div class="col-lg-8">
        <h4>Sachin Shinde</h4>
        <div class="role"><b>HR  | Team Lead</b></div>
        <div class="email">sachin&#64;neweltechnologies.com</div>
        <div class="sub_task_txt">Task Completion Rate</div>
        <div class="rating_txt">★★★★☆</div>
      </div>
    </div>

    <!-- Active Project -->
    <div class="card metric-card">
      <div class="  active_project_txt">Active Project <span> <b>67</b></span></div>
      <div class="gauge"><img src="/speedometer.jpg" style="width:150px"></div>
       <div class="total_project_txt">Total Project <b>229</b></div>
    </div>

    <!-- Today Task -->
    <div class="card metric-card ">
      <h2 class="green_txt">03</h2>
      <p><b>Today's Task</b></p>
      <div class="sub_task_txt">Today's Work Overview</div>
    </div>

    <!-- Upcoming -->
    <div class="card metric-card ">
      <h2 class="blue_txt">116</h2>
      <p><b>Upcoming Task</b></p>
      <div class="sub_task_txt">Upcoming Work at Glance</div>
    </div>

    <!-- TAT -->
    <div class="card metric-card ">
      <h2 class="red_txt">1948</h2>
      <p><b>TAT Breached</b></p>
      <div class="sub_task_txt">Overdue Beyond TAT</div>
    </div>

  </div>

  <!-- MY BUCKET -->
  <div class="bucket-header">
    <h4>My Bucket</h4>

    <div class="bucket-actions">
      <div class="toggle">
        <div>Individual
          <span style="margin-top: 10px;">
        <label class="switch" style="margin: -2px 10px 0 10px;">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        </span>
         <span>Group</span>
        </div>
       
      </div>

      <select>
        <option>Projects</option>
        <option>Employee OnBoarding</option>
        <option>Employee Training</option>
      </select>

      <input type="text" placeholder="Search your Task">

      <button class="add-btn">Add New Task +</button>
    </div>
  </div>

  <!-- KANBAN -->
  <div class="kanban">

    <!-- TASK -->
    <div class="column task blue_light">
      <div class="column-header blue">Task <span>07</span></div>

      <div class="task-card">
        <div class="task_txt">  <b>Send Appointment Letter</b></div>
        <div class="tag">Individual</div>
        <div class="sub_task_txt">As a process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
         <div class="task_txt"> <b>Verification of Newly Joined Resource</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
       <div class="task_txt"> <b>Pending Invoice Follow Up</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Pending invoice follow up.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>
    </div>

    <!-- OPEN -->
    <div class="column open orange_light">
      <div class="column-header orange">Open <span>05</span></div>
      <div class="task-card">
        <div class="task_txt">
          <b>Email to all Inhouse team that particular resource has joined us.</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">As a process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
        <div class="task_txt"><b>Send Appointment Letter</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">As a Process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
        <div class="task_txt"><b>Pending Invoice Follow Up</b></div>
        <div class="tag">Individual</div>
        <div class="sub_task_txt">Pending invoice follow up</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>
    </div>

    <!-- WIP -->
    <div class="column wip yellow_light">
      <div class="column-header yellow">WIP <span>02</span></div>

      <div class="task-card">
       <div class="task_txt">   <b>Send Appointment Letter</b></div>
        <div class="tag">Individual</div>
        <div class="sub_task_txt">As a process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
         <div class="task_txt"> <b>Perform Background Verification of Newly Joined Resource</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>
    </div>

    <!-- COMPLETED -->
    <div class="column completed green_light">
      <div class="column-header green">Completed <span>02</span></div>

      <div class="task-card">
       <div class="task_txt"> <b>Follow up with seniors forincremented salary details</b></div>
       <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="status done">STATUS: DONE</div>
      </div>

      <div class="task-card">
       <div class="task_txt">   <b>Newly Open Bank Accountof Newly Joined Resource</b></div>
         <div class="sub_task_txt">Completed Document Process </div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="status done">STATUS: DONE</div>
      </div>
    </div>

  </div>

</div>


