<!-- leftnav.component.html -->
<aside class="sidebar">
  <div class="mb-3">
    <h6 class="menu_txt">MENU</h6>
    <a class="no-underline nav-link" [routerLink]="['']"><div class="text-uppercase small text-muted menu_option">Master</div></a>
   <a class="no-underline nav-link" [routerLink]="['account']"><div class="text-uppercase small text-muted menu_option ">User Management</div></a> 
    <a class="no-underline nav-link" [routerLink]="['card']"><div class="text-uppercase small text-muted menu_option">Home</div></a>
  <!-- <a >Dashboard</a> -->
  </div>

  <div>
    <nav class="nav flex-column small">
      <a class="nav-link sub_menu" [routerLink]="['team-dashboard']">Team Dashboard</a>
        <a class="nav-link sub_menu" [routerLink]="['templateform']">Template Form </a>
      <a class="nav-link sub_menu" [routerLink]="['reactiveform']">Reactive Form</a>
      <a class="nav-link sub_menu" [routerLink]="['templatedrivenformpractice']">Practice 01</a>
      <a class="nav-link sub_menu" [routerLink]="['templatedrivenformpracticetest']">Practice 02</a>
      <a class="nav-link sub_menu" [routerLink]="['titlecasepipedemo']">Title Case Pipe Demo</a>
      <a class="nav-link sub_menu" [routerLink]="['popup']">Send Email</a>
    </nav>
  </div>
  <a class="no-underline nav-link" [routerLink]="['overview']"><div class="text-uppercase small text-muted menu_option">Overview</div></a>
      <a class="no-underline nav-link" [routerLink]="['transactions']"><div class="text-uppercase small text-muted menu_option">Transactions</div></a>
</aside>
