.menu_option { background-color: #00B3DC; width: 100%; padding: 10px; margin-bottom: 1px; color: #fff !important; list-style-type: none; text-decoration: none; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.menu_txt {color:#00B3DC ; padding: 10px;}
.no-underline {
  text-decoration: none;
}
.sub_menu{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 12px; color: #989898;}