<!-- TASK -->
    <div class="column {{task.name }} {{task.name.toLowerCase()}}_light"
    
    [class.task_list]="task.name.toLowerCase()=='task'"
    [class.open_list]="task.name.toLowerCase()=='open'"
    [class.completed_list]="task.name.toLowerCase()=='complted'"
    >
      <div class="column-header {{task.name.toLowerCase()}}">{{task.name | uppercase }} <span>{{task.count}}</span></div>

      @for(item of task?.list;track item.id){
      <div class="task-card">
        <div class="task_txt"      
        
         [class.task_txt]="task.name.toLowerCase()=='task'"
    [class.open_txt]="task.name.toLowerCase()=='open'"
    [class.completed_txt]="task.name.toLowerCase()=='complted'"
        
        >  <b>{{item?.task}}</b></div>
        <div class="tag">{{item?.assignedUser | showUserType:currentUser}}</div>
        <div class="sub_task_txt">{{item?.taskDetail}}</div>
        <div class="tag">Assigned By: {{item?.assignedBy}}</div>
        <div class="priority high">PRIORITY: {{item?.priority  | uppercase}}</div>
      </div>


    }

      
    </div>
