<!-- TASK -->
    <div class="column task blue_light">
      <div class="column-header blue">Task <span>07</span></div>

      <div class="task-card">
        <div class="task_txt">  <b>Send Appointment Letter</b></div>
        <div class="tag">Individual</div>
        <div class="sub_task_txt">As a process we need to send an appointment letter to newly joined resource.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
         <div class="task_txt"> <b>Verification of Newly Joined Resource</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Dashboard design for landing page for respective project.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>

      <div class="task-card">
       <div class="task_txt"> <b>Pending Invoice Follow Up</b></div>
         <div class="tag">Individual</div>
        <div class="sub_task_txt">Pending invoice follow up.</div>
        <div class="tag">Assigned By: Amit Kawade</div>
        <div class="priority high">PRIORITY: HIGH</div>
      </div>
    </div>
