<h4>Account Details</h4>
<section class="mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class="h4 text-muted">My Account</small>
          <div class=" mt-1"><span id="mainBalance">Edit your name and change password</span></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class="h4 text-muted">Billing Address</small>
          <div class="mt-1">Setup your billing address</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-radius p-3 shadow-sm">
          <small class=" h4 text-muted">Ratings</small>
          <div class="mt-1">595</div>
        </div>
      </div>
    </div>
  </section>